<html><head>
<title></title>
</head>
<body>
<div>
<p>
<b>Name:</b>&nbsp;<br>
</p>
</div>


<div>
<p>
<b>Description:<%= @ad.description %></b>&nbsp;<br>
</p>
</div>
<p>
<b>Price:</b>&nbsp;<br>
</p>
<p>
<b>Seller Id:</b>&nbsp;<br>
</p>
<div>
<p>
<b>Email:</b>&nbsp;<br>
</p>
</div>
<div>
<p>
<b><%= 15*15 %></b>&nbsp;<br>
</p>
</div>
</body>
</html>