<html><head>
<title></title>
</head>
<body>
<div>
<p>
<% @ad.each do |addd| %>
<b>Name:<%= addd.name %><%= 1+1 %><%= addd.description %></b>
<% end %>
</p>
</div>


<div> 
<p>
<b>Description:</b>
</p>
</div>
<p>
<b>Price:</b>
</p>
<p>
<b>Seller Id:</b>
</p>
<div>
<p>
<b>Email:</b>
</p>
</div>
<div>
<p>

</p>
</div>
</body>
</html>