<html><head>
<title></title>
</head>
<body>
<div>
<p>
<b>Name:<%= @ad.name %><%= 1+1 %><%= @ad.description %></b>
</p>
</div>


<div> 
<p>
<b>Description:</b>
</p>
</div>
<p>
<b>Price:</b>
</p>
<p>
<b>Seller Id:</b>
</p>
<div>
<p>
<b>Email:</b>
</p>
</div>
<div>
<p>

</p>
</div>
</body>
</html>