<html><head>
<!--<title><%= @ad.name %></title>-->
</head>
<body>
<div>
<p>
<b>Name:</b>&nbsp;<br>
</p>
</div>


<div>
<p>
<b>Description:</b>&nbsp;<br>
</p>
</div>
<p>
<b>Price:</b>&nbsp;<br>
</p>
<p>
<b>Seller Id:</b>&nbsp;<br>
</p>
<div>
<p>
<b>Email:</b>&nbsp;<br>
</p>
</div>
<div>
<p>
<!--<b><%= @ad.id %></b>&nbsp;<br>-->
</p>
</div>
</body>
</html>