<h1>Say#goodbye</h1>
<p>Find me in app/views/say/goodbye.html.erb</p>
<h1>This is inside say folder of the views..</h1>

root#index


<p>
<%= link_to "Hello", say_hello_path %>
</p>

<p>
it is  now <%= @time = Time.now %>
</p>

<p>
 <%= link_to "Show this tues19dec", tues19dec %>
</p>

 <p>
    
	<%= link_to "New tues19dec", new_tues19dec_path %>
    </p>