<h1>Editing tues19dec</h1>

<%= render "form", tues19dec: @tues19dec %>

<br>

<div>
  <%= link_to "Show this tues19dec", @tues19dec %> |
  <%= link_to "Back to tues19decs", tues19decs_path %>
</div>
