<html><head>
<title>hello this is in the title</title>
</head>
<body>
<div>
<p>
<b>Name:<%= 2+2 %></b>
</p>
</div>

<%=  %>

<div>
<p>
<b>Description:</b>
</p>
</div>
<p>
<b>Price:</b>
</p>
<p>
<b>Seller Id:</b>
</p>
<div>
<p>
<b>Email:</b>
</p>
</div>
<div>
<p>

</p>
</div>
</body>
</html>